<div class="container resume-employment-container">
	<h3>Employment</h3>
	<hr />
	<div class="row">
		<div class="col-xs-18 col-sm-8 col-md-8 col-lg-8">
			<i>Cerner Corporation</i>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" style="text-align: right">
			<i>March 2017 - Present</i>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
			<i>Current title: Associate Senior Software Engineer</i>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
			<ul>
				<li>Developed Hadoop MapReduce pipelines for processing data in different types of tables across multiple physical clusters</li>
     			<li>Led risk assessments on software vulnerability audits</li>
				<li>Developed new data transformations performed by Hadoop pipelines to standardize clinical data</li>
				<li>Acted as a team lead for new Software Engineers in Ireland while local team leads were being hired</li>
				<li>Designed and coded a NodeJS application for visualizing relational database schema as an interactive graph</li>
			</ul>
		</div>
	</div>
</div>
