<div class="container resume-tech-container">
	<h3>Technical Skills and Proficiencies</h3>
	<hr />
	<div class="row">
		<div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
			<i>Programming Languages</i>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-sm-2 col-md-2 col-lg-2">
			<p>Bash</p>
		</div>
		<div class="col-xs-8 col-sm-2 col-md-2 col-lg-2">
			<p>Java</p>
		</div>
		<div class="col-xs-8 col-sm-2 col-md-2 col-lg-2">
			<p>Python</p>
		</div>
		<div class="col-xs-8 col-sm-2 col-md-2 col-lg-2">
			<p>Lua</p>
		</div>
		<div class="col-xs-8 col-sm-2 col-md-2 col-lg-2">
			<p>Ruby</p>
		</div>
	</div>
	<div class="row" style="margin-top: 10px">
		<div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
			<i>Technical Proficiencies</i>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
			Linux System Administration and Configuration
		</div>
		<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
			Hadoop Ecosystem (MapReduce, HBase, Kafka, Storm)
		</div>
		<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
			AWS Infrastructure
		</div>
	</div>
</div>
