<div class="container resume-tech-container">
	<h3>Technical Skills and Proficiencies</h3>
	<hr />
	<div class="row">
		<div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
			<i>Programming Languages</i>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-sm-2 col-md-2 col-lg-2">
			<p>Rust</p>
		</div>
		<div class="col-xs-8 col-sm-2 col-md-2 col-lg-2">
			<p>C++</p>
		</div>
		<div class="col-xs-8 col-sm-2 col-md-2 col-lg-2">
			<p>Python</p>
		</div>
	</div>
	<div class="row" style="margin-top: 10px">
		<div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
			<i>Technical Proficiencies</i>
		</div>
	</div>
</div>
