body {
	.center-text {
		text-align: center;
	}

	.container {
		margin-top: 30px;
	}
}

.resume-head-container {
	margin-top: 50px;
}

.resume-head-right {
	text-align: right;
}

.resume-head-left {
	margin-top: 30px;
}

.resume-head-right p {
	font-size: 18px;
	text-align: right;
	margin-bottom: 0px;
}

.scm_link ul {
  list-style-type: none;
}

a {
	font-size: 16px;
	color: black;
	font-weight: bold;
}

h2 {
	font-weight: 200;
}

h3 {
	font-weight: 75;
}

.resume-about-container {
	margin-top: 42px;
}

hr {
	margin-top: 0px;
}

.resume-tech-container {
	margin-top: 42px;
}

.resume-education-container {
	margin-top: 42px;
}

.resume-employment-container {
	margin-top: 42px;
}

.education-left {
	text-align: left;
}

.education-right {
	text-align: right;
}

.resume-footer-container {
	margin-top: 40px;
}

.resume-footer-container i {
	color: rgba(0, 0, 0, .4);
}
