<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Jake Gallow | Resume</title>
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/resume.css">
	</head>
	<body>
		<section>
			{%- include resume_head.html -%}
		</section>
		<section>
			{%- include resume_about.html -%}
		</section>
		<section>
			{%- include resume_education.html -%}
		</section>
		<section>
			{%- include resume_tech_skills.html -%}
		</section>
		<section>
			{%- include resume_employment.html -%}
		</section>
		<section>
			{%- include resume_projects.html -%}
		</section>
		<section>
			{%- include resume_footer.html -%}
		<section>
	</body>
</html>
